#content {
  position: absolute;
  height: calc(100vh - 52px);
  width: calc(100% - 166px);
  top: 52px;
  left: 166px;
  right: 0;
  bottom: 0;
  background-color:#e5e6eb;
  /* height: calc(100vh - 52px); */
}